# VSCode
.vscode/
*.code-workspace

# PowerShell
*.ps1.bak
*.psm1.bak
*.psd1.bak

# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Logs
Logs/
*.log

# Temp files
*.tmp
*.bak
*.swp

# Project-specific
info.txt
.info.txt.kate-swp

# General
.DS_Store
Thumbs.db
